body {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;  
    background-color: white;
}
body nav {
    position: fixed;
    top:0;
    right: 0;
    opacity:0.95;
    z-index: 1000;
}
.ui-pnotify {
    z-index: 2000;
}
#graph, #widgets, #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;                    
}
#widgets, #overlay {
    pointer-events: none;    
}
.widget {
    pointer-events: none;
}

.widget * {
    pointer-events: all;
}

#nodeframe {
    opacity: 0.9;
    width: 400px;
    transform-origin: 0 0;
    display: none;
}
#overlay {
    z-index: 5000;
}
	